.pdf-viewer-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
}

.pdf-frame {
    width: 100%;
    height: 100%;
    border: none;
    background: white;
}

.empty-state {
    text-align: center;
    color: #9e9e9e;
    padding: 40px;
}

.empty-icon {
    font-size: 64px;
    width: 64px;
    height: 64px;
    margin-bottom: 16px;
    color: #bdbdbd;
}

.empty-state p {
    font-size: 16px;
    margin: 0;
}