* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Inter', 'Roboto', sans-serif;
}

body {
    margin: 0;
    background-color: #f5f5f5;
}

.snackbar-success {
    --mdc-snackbar-container-color: #4caf50 !important;
    --mat-snack-bar-button-color: #ffffff !important;
}

.snackbar-error {
    --mdc-snackbar-container-color: #d32f2f !important;
    --mat-snack-bar-button-color: #ffffff !important;
}

.snackbar-warning {
    --mdc-snackbar-container-color: #ff9800 !important;
    --mat-snack-bar-button-color: #ffffff !important;
}

.snackbar-info {
    --mdc-snackbar-container-color: #2196f3 !important;
    --mat-snack-bar-button-color: #ffffff !important;
}